<!DOCTYPE html>
<script type="text/javascript" src="http://livejs.com/live.js"></script>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}}
    <h1>{{title}}</h1>
    <img src="/img/shaneprofile.png">
    <p>Created by {{name}}</p>
</body>

</html>